@import "variables";

@mixin mq {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin mq-md {
  @media screen and (max-width: $breakpoint-md) {
    @content;
  }
}

body {
  color: $gray;
}

ul {
  list-style: none;
}

#navbar-brand {
  color: $skyblue;
  font-weight: bold;
  font-size: larger;
}

.card {
  border: none;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);

  i {
    color: $orange;
  }
}

.card-title {
  color: $orange;
}

.card-body {
  a {
    background-color: $orange;
    border: none;
  }
}

.max-bg {
  margin: 0 calc(50% - 50vw);
}

.hero2 {
  background-color: rgba(249, 232, 167, 0.25);
}

img {
  max-width: 85%;
}

footer {
  color: white;
  background: $skyblue;

  h3 {
    border-bottom: 0.08em solid white;
  }

  span {
    display: block;
    font-size: 0.8em;
  }
}

//css4iphone
@include mq {
  .navbar-toggler {
    position: fixed;
    right: 20px;
    z-index: 100;
  }

  .wrapper {
    max-width: 90%;
    margin: auto;
  }

  .hero {
    text-align: center;
    margin-top: 40px;

    h1 {
      font-size: 3rem;
      line-height: 1.3em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.7rem;
      font-weight: lighter;
    }
  }
}

#showloading{
  background-color: #ffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
